.statusBar {
    text-align: center;
    border-radius: 8px;
    background-color: #375a7f;
}


/* Game Pad Widget */

.gamePadWidget {
    min-width: 10px;
    color: white;
    border-radius: 8px;
    background-color: #375a7f;
}

.gamePadWidgetHeader {
    min-width: 10px;
    color: white;
    background-color: #404040;
    border-radius: 8px 8px 0px 0px;
    padding: 10px 10px;
}

.gamePadWidgetData {
    min-width: 10px;
    color: white;
    background-color: #375a7f;
    border-radius: 0px 0px 8px 8px;
    padding: 10px 10px;
}


/* Widget Object */

.widgetBlock {
    display: inline-block;
    color: white;
    border-radius: 8px;
    background-color: #375a7f;
}

.widgetHeader {
    display: block;
    color: white;
    background-color: #404040;
    border-radius: 8px 8px 0px 0px;
    padding: 5px 5px;
}

.widgetContent {
    display: block;
    text-align: center;
    color: white;
    background-color: #375a7f;
    border-radius: 0px 0px 8px 8px;
    padding: 10px 10px;
}

.devLog {
    color: white;
    width: 400px;
    min-height: 400px;
    padding: 20px 20px;
    border-radius: 8px;
    background-color: #375a7f;
}

#mainLogo {
    width: 100px;
    max-height: 100%;
}


/* :::::::::::::: Presentation css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --locked-color: #00c794;
    --unlocked-color: #ff5153;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}


/* :::::::::::::: Required CSS */


/* Locked */

.lock {
    width: 24px;
    height: 21px;
    border: 3px solid var(--locked-color);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.lock:after {
    content: "";
    display: block;
    background: var(--locked-color);
    width: 3px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3.5px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.lock:before {
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    bottom: 100%;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    border: 3px solid var(--locked-color);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: 0;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


/* Locked Hover */

.lock:hover:before {
    height: 12px;
}


/* Unlocked */

.unlocked {
    transform: rotate(10deg);
}

.unlocked:before {
    bottom: 130%;
    left: 31%;
    margin-left: -11.5px;
    transform: rotate(-45deg);
}

.unlocked,
.unlocked:before {
    border-color: var(--unlocked-color);
}

.unlocked:after {
    background: var(--unlocked-color);
}


/* Unlocked Hover */

.unlocked:hover {
    transform: rotate(3deg);
}

.unlocked:hover:before {
    height: 10px;
    left: 40%;
    bottom: 124%;
    transform: rotate(-30deg);
}


/* Removes the arrows on numerical input boxes */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}